@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-size: 16px;
   line-height: 1.5;
   font-family: 'Outfit',sans-serif;
   font-weight: 400;
   color:hsl(24, 5%, 18%);
}

ol,ul{
    list-style:inside;
}

li{
    margin-left: 1.1rem;
    margin-bottom: 1rem;
}

body{
background-color: hsl(30, 54%, 90%);

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.recipe-card{
max-width: 70vh;
background-color: white;
padding:2rem;
margin-top:4rem;
margin-bottom: 4rem;
flex:1;
}

img,table{
    width: 100%; /* Makes the image fit the recipe-card div */ 
    height: auto;
}

.recipe-card,
img,
.prep-info-box{
    border-radius: 1rem;
}

.prep-info-box{
    background-color: hsl(332 51% 32% /0.08);
    padding:0.6rem 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.prep-info-box .text-heading{
color:hsl(332, 51%, 32%);
font-weight: 600;
font-size: 1.2rem;
}

h2,td{
    color:hsl(14, 45%, 36%);
}

h1,h2{
    font-family: 'Young Serif',sans-serif;
    font-size: 1.5rem;
}

h1{
    font-size: 2rem;
}

.bold-text{
    font-weight: 600;
    
}

h1,p,.prep-info-box,h2{
    margin-bottom:1.2rem;
    margin-top:1.2rem;
}